/* affects entire document */
html {
	scroll-behavior: smooth; /*this ensures that the page scrolling is smooth when the nav bar is clicked */
}
/* Body */
body {
	margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
	opacity: 1; /* this and transition affect the page loading fade in effect */
	transition: 3s opacity; /* this causes a 3s fade in */
	letter-spacing: .2vw;
	font-family: Avant Garde, Helvetica;
	font-size: 1.5vw;
}

/* this section contributes to the fade effect for the page that occurs when the page is loaded */
body.fade-out {
	opacity: .1; /* this sets the level of opacity at the start of page load */
	transition: none;
}

/* Navbar */
.Navbar {
	overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
	background-color: black; /* This colors the navbar black */
	position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
	top: 0; /* This ensures no space is displayed above the navbar */
	width: 100%; /* This makes the navbar span the entire width of the page */
	z-index: 1; /*This ensures other elements don't display over the navbar */
	-webkit-animation: moveNav 3s;
	animation: moveNav 3s;
}

/* Navbar text */
.Navbar a {
	float: left; /* This specifies that the text floats on the left on the navbar */
	display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
	color: white; /* This is the font color for text on our navbar */
	padding: 14px 16px; /* This adds padding around our text */
	text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
	font-family: 'Times New Roman', Times, serif; /* This specifies the font family for text on our navbar */
	font-size: 20px; /* This specifies the font size for text on our navbar */
	text-align: center; /* This centers the text within its container */
	-webkit-animation: moveNavText 5s;
	animation: moveNavText 5s;
}
@keyframes moveNav {
	from {
		left: -100vw;
	}
	to {
		left: 0vw;
	}
}
@keyframes moveNavText {
	from {
		top: -100vw;
	}
	to {
		top: 0vw;
	}
}

/* Navbar hover effect */
.Navbar a:hover {
	background-color: #F4F4F4; /*  This defines the background color that will display when you hover over the text on the navbar */
	color: black; /* This defines the font color that will display when you hover over the text on the navbar */
	font-weight: bold; /* This makes the text on the navbar bold when hovered over */
}

/* Navbar home button */
.Navbar a.active { /* The active selector styles a link */
  background-color: darkgray;  /* This specifies the background color behind the Home button on the navbar */ 
}

/* Video */
#Typing_Video {
	position: fixed; /* This fixes our video to the page  */
	right: 0; /* This ensures no space between the edge of the video and the edge of the page */
	bottom: 0; /* This ensures no space between the edge of the video and the edge of the page */
	min-width: 100%; /* This ensures the video is displayed across the full width of the page */
	z-index: -1;
}

/* Text over the video */ 
.Video_Text { 
	background: rgba(0, 0, 0, 0.5); /* This provides a semi-transparent background for the text to sit over */
	color: white; 
	width: 100%;
	padding: 20px; /* This adds padding around the text so that the background goes slightly beyond the text */
	margin-top: 23%;
}

/* slideshow styling */
#Slideshow_Background {
	background: rgba(255,255,255, 0.35); /* this creates a slightly transparent white background that's placed over the video */
}

.mySlides {
	display: none;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/*slideshow section / container */
#Slideshow_Container {
	width: 39.5vw;
	height: auto;
	padding-top: 4%;
	position: relative;
	margin: auto;
}

/* images contained within slideshow */
.Slide_Show_Images {
	vertical-align: middle;
	height: auto;
	box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
	width: auto;
}

/* next and previous buttons */
.Previous, .Next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 2vw;
	margin-top: -0vw;
	color: darkgray;
	font-weight: bold;
	font-size: 1.5vw;
	border-radius: 0 3px 3px 0;
	user-select: none;
	transition: 0.6 ease;
}

/* positioning the right-hand next button */
.Next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* hover effect on slide show buttons */
.Previous:hover, .Next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
}

/* slideshow text */
.text {
	color: white;
	padding: 1vw;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: Perpetua, Rockwell Extra Bold;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	background-color: rgba(0,0,0,0.75);
	font-weight: bold;
	border-radius: 7px 7px 7px 7px;
}

/* number text (1/6, 2/6, etc.) - we have set this display to none, which means these are hidden */
.Slide_Number {
	color: white;
	position: absolute;
	top: 0;
	font-family: Perpetua, Rockwell Extra Bold;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	font-weight: bold;
	display: none;
}

/* the dots under the slideshow */
.dot {
	cursor: pointer;
	height: 1vw;
	width: 1vw;
	margin: .25vw;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	position: relative;
	z-index: 1;
}

/* hover effects for slideshow dots */
.active, .dot:hover {
	background-color: black;
}

/* fading animation for slideshow */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/* Table - this section covers the styling of the columns and rows within our table */
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
	box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
	float: left;  
	width: 50%; /* This ensures one column takes up half the page width */
	padding: 10px; 
	padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
	height: 400px; /* This sets the height of our column at 400 pixels - if you change the text within the columns, you will need to adjust the column heights accordingly */
	background-color: #f2f2f298; 
}

.Column_2 {
	float: left;
	width: 50%;
	padding: 10px;
	padding-top: 1.9%;
	height: 400px;
	background-color: #4d4d4d;
}

.Column_3 {
	float: left;
	width: 50%;
	padding: 10px;
	padding-top: 3.5%;
	height: 450px;
	background-color: #4d4d4d;
}

.Row:after { /* This inserts something after the content of selected elements */
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}

/* Heading 1 elements */
h1 {
	text-transform: uppercase; /* We are capitalizing our headings */
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	text-align: center;
	margin-top: 3%; /* We are adding a small margin above the headings */
	color: #1a1a1a;
}

/* Paragraph elements */
p {
	font-family: Perpetua, Rockwell Extra Bold;
	text-align: justify;
	letter-spacing: 1px; /* This expands the text slightly */
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Center align elements - this embraces all centered text */
center {
	font-family: Perpetua, Rockwell Extra Bold;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Anchor elements */
a {
	color: blue; /* We are ensuring all links are blue */
}

/* Quotation elements */
q {
	font-style: italic;
	font-weight: bold;
}

/* Image elements */
img {
	filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* This causes our images to have slightly rounded edges */
    max-width: 100%; 
    height: 340px; 
	margin-left: auto; /* This in combination with margin-right: auto centers our images */
    margin-right: auto;
	display: block;	/* By specifying block display we can ensure our images are able to be centered */
}

/* Contact form styling */

/*Makes contact form button slide in from right on page load */
@keyframes movePopup {
	from {right: -40vw;}
	to {bottom: 1.75vw;}
}

/*button used to open the contact form -fixed at the bottom of the page */
.Pop_Up_Button {
	bottom: 1.75vw;
	right: 1.75vw;
	width: 25vw;
	background-color: white;
	color: black;
	border: solid;
	cursor: pointer;
	position: fixed;
	-webkit-animation: movePopup 5s;
	animation: movePopup 5s;
}

/* the popup form - hidden by default */
.form-popup {
	border: 3px solid #f0f1f0;
	z-index: 8;
	display: none;
	position: fixed;
	bottom: 6px;
	right: 6px;
}

/* form styling */
.form-container {
	max-width: 49vw;
	padding: 9px;
	background-color: white;
}

/* input fields */
.form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: .93vw;
	margin: .6vw 0 .6vw 0;
	border: none;
	background: gainsboro;
	font-family: Helvetica, Avant Garde;
	font-size: 1vw;
}

/* submit button */
.form-container .btn {
	background-color: white;
	color: black;
	border-color: black;
	margin-bottom: 1vh;
}

/* close button */
.form-container .cancel {
	background-color: black;
	color: white;
	border-color: gray;
}

/* button styling */
button {
	font-family: "Trebuchet MS", Optima;
	letter-spacing: .3vw;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 1.5vw 1.5vw;
	border-style: solid;
	cursor: pointer;
	width: 100%;
	height: auto;
}

/* hover effect for buttons */
button:hover, .form-container .btn:hover {
	color: white;
	background-color: black;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	border-style: solid;
	border-color: silver;
}
.form-container .cancel:hover {
	color: white;
	background-color: darkred;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	border-style: solid;
	border-color: black;
}


/* Center align element hover effect */
center:hover {
	transition: transform 2s;
	transform: scale(1.1);
}

/* Paragraph element hover effect */
p:hover {
	color: #00004d;	
    transition: transform 1s;
	transform: scale(1.01);
}

/* Heading 1 element hover effect */
h1:hover {
	color: black;
	font-weight: normal; /* Makes the text no longer bold when hovered over */ 
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 1s;
	transform: scale(1.1);
}

/* Footer element */
footer {
	padding: 2%;
	background-color:white;
}